#Home{
    // padding: 1em;
    display: grid;
    grid-template-columns: 35% 1fr;
    grid-template-rows: auto;
    min-width: 0;
    min-height: 0;

    /*gap: 1em;*/
}

#Home .leftSide{
    display: grid;
    grid-template-rows: repeat(3, 1fr);    
}

#Home .rightSide{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60% 1fr;
    gap: 1em;
}
#Home .rightSide > div{
    background-color: $secondary_color;
    border-radius: 10px;
}
#Home .directoryInfo{
    grid-column: 1/3;
}