

#Syncs {
    display: grid;
    grid-template-columns: minmax(min-content, 20vw) 1fr;
    min-width: 0;
    min-height: 0;
}




// ##################
//     SELECTION
// ##################


#Syncs .selection_list{ // connection selection list
    .selection_list_header{
        button{
            padding:0;
            padding-right: 3px;
            color: $font_color3;
            font-size: 20px;
            &:hover{
                color: $accent_color1;
            }
        }
    }
    .list{
        div{
            grid-template-columns: calc(1em + 10px) 1fr;
            .fa-check-circle{ color: $accent_color1; }
            .fa-times-circle{ color: $color_negative;}
        }
    }

}







#Syncs .syncs{
    display: grid;
    grid-template-rows: calc(51vh - 3*2vh) 49vh;
    padding: 2vh 2vw;
    gap:  2vh;

    >div{
        background-color: $secondary_color;
        border-radius:  8px;
        padding: 10px 15px;
    }
}




// ##################
//   SYNC SELECTION
// ##################

#Syncs .sync_selection{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr;



    .header, .sync{
       display: grid;
       grid-template-columns: 1fr calc(1em + 2vw) 1fr;
    }

    .header{
        font-weight: 500;
        font-size: 18px;
        border-bottom: 2px solid $color3;
        padding-bottom: 1vh;
        padding-right: 3px; // padding due to scrollbar
        margin: 0 1vw;
        justify-items: center;
    }

    #new_sync{
        height: 22px;
        width: 22px;
    }



    ::-webkit-scrollbar-track{
        background: $secondary_color;
    }

    ::-webkit-scrollbar-thumb{
        background: $color3;
        border-radius: 3px;
    }

    #sync_list_container{
        width: 100%;
        height: 100%;
        min-width: 0; 
        min-height: 0;
    }

    .sync_list{
        display: grid;
        grid-auto-rows: min-content;
        min-width: 0; 
        min-height: 0;
        overflow-y: scroll;
        overflow-x: auto;
        width: 100%;
        height: 100%;
    }


    .sync{
        margin: 0 1vw;
        margin-top: 1vh;
        border-radius: 7px;
        padding: 0.6vh 1vw;
        align-items: center;
        justify-items: center;
        font-size: 15px;
        font-weight: 400;
        color: $font_color2;
        cursor: pointer;
        transition: all $trans_time ease 0s;
        &:hover{
            background-color: $color3;
            .local{ color: $accent_color1; }
            .remote:only-child{ color: $accent_color1; }
        }
    }

    .sync.active{
        background-color: $color3;
        .local{ color: $accent_color1; }
    }


    .remote_dirs{
        grid-column: 2/4;
        display: grid;
        width: 100%;
        align-items: center;
    }
    
    .remote{
        display: grid;
        justify-items: center;
        grid-template-columns: calc(1em + 2vw) 1fr;
        padding: 0.6vh 0;
        i{
            grid-column: 1;
            // color:$accent_color3;
        }
        span{grid-column: 2;}
        transition: all $trans_time ease 0s;
        &:hover{ color:$accent_color1; }
    }

    .remote.active{ color: $accent_color1; }
}












// ##################
//      SYNC INFO
// ##################

#Syncs .sync_info{
    display: grid;
    grid-template-rows: calc(1.5em + 2vh) calc(49vh - 1.5em - 2vh - 2*10px);
    grid-template-columns: 1fr;
    min-width: 0; 
    min-height: 0;


    .header{
        display: grid;
        grid-template-columns: 1fr 2em 1fr;
        align-items: center;
        justify-items: center;
        >div{
            grid-gap: 0.7vh;
            display: grid;
            grid-auto-rows: 1fr 1fr;
            align-items: center;
            justify-items: center;
        }
        .path{
            color:$font_color2;
            font-size: 14px;
        }
        .name{
            font-weight: 500;
        }
        button{
            font-size: 20px;
            color: $accent_color1;
            transition: all $trans_time ease 0s;
            background-color: $secondary_color;
            &:hover{color: $font-color1;}
        }
    }

    ::-webkit-scrollbar-track{
        background: $secondary_color;
    }

    ::-webkit-scrollbar-thumb{
        background: $color3;
        border-radius: 3px;
    }



    .props_container{
        display: grid;
        grid-template-columns: 1fr 1.4fr;
        grid-template-rows: 1fr 2fr;
        margin: 0 0.5vw;
        margin-top: 1.5vh;
        border-top: 2px solid $color3;
        padding-top: 1.5vh;
        
    }

    .properties{
        padding-top: 0.5vh;
        padding-left: 1vw;
        padding-right: 2vw;
        display: grid;
        grid-auto-rows: calc(1em + 1.8vh);
        grid-template-columns: max-content 1fr;
        .key{
            color: $font_color2;
        }
        .value{
            justify-self: right;
        }
    }

    .conflicts{
        grid-column: 1;
        grid-row: 2;
    }
    
    .ignore{
        max-height: calc(100% - 1vh);
        grid-column: 2;
        grid-row: 1/3;
        border-left: 2px solid $color3;
        margin: 0.5vh 0;
        padding-left: 2vw;
        display: grid;
        grid-template-rows: calc(1em + 2.5vh) ;
        
        .ign_header .active{
            color: $accent_color1;
            border-bottom: 2px solid $accent_color4;
        }

        .ign_header button{
            float: right;
            height: calc(1em + 1vh);
            width: calc(1em + 1vh)
        }

        .ign_header span{
            margin-right: 2vw;
            padding-bottom: 5px;
            transition: all $trans_time ease 0s;
            cursor: pointer;

            &:hover{
                color: $accent_color1;
                border-bottom: 2px solid $accent_color4;
            }
        }

        .ign_lst{ 
            // min-width: 0;
            // min-height: 0;
            // height: 50%;
            overflow-y:scroll;
            display: grid;
            grid-auto-rows: calc(1.5em + 1vh);
            padding-left: 1.6vw;
            >span{
                display: inline-block;
                vertical-align: middle;
                font-size: 15px;
                &:before{
                    content: "•";
                    vertical-align: middle;
                    font-size: 20px;
                    color: $accent_color3;
                    padding-right: 6px;
                }
            }

        }

        .ign_lst.active{

        }
    }
}

