

#Syncs {
    display: grid;
    grid-template-columns: minmax(min-content, 20vw) 1fr;
    min-width: 0;
    min-height: 0;
}




// ##################
//     SELECTION
// ##################


#Syncs .selection_list{ // connection selection list
    .selection_list_header{
        button{
            padding:0;
            padding-right: 3px;
            color: $font_color3;
            font-size: 20px;
            &:hover{
                color: $accent_color1;
            }
        }
    }
    .list{
        div{
            grid-template-columns: calc(1em + 10px) 1fr;
            .fa-check-circle{ color: $accent_color1; }
            .fa-times-circle{ color: $color_negative;}
        }
    }

}







#Syncs .syncs{
    display: grid;
    grid-template-rows: calc(51vh - 3*2vh) 49vh;
    padding: 2vh 2vw;
    gap:  2vh;

    >div{
        background-color: $secondary_color;
        border-radius:  8px;
        padding: 10px 15px;
    }
}




// ##################
//   SYNC SELECTION
// ##################

#Syncs .sync_selection{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr;



    .header, .sync{
       display: grid;
       grid-template-columns: 1fr calc(1em + 2vw) 1fr;
    }

    .header{
        font-weight: 500;
        font-size: 18px;
        border-bottom: 2px solid $color3;
        padding-bottom: 1vh;
        padding-right: 3px; // padding due to scrollbar
        margin: 0 1vw;
        justify-items: center;
    }

    #new_sync{
        height: 22px;
        width: 22px;
    }



    ::-webkit-scrollbar-track{
        background: $secondary_color;
    }

    ::-webkit-scrollbar-thumb{
        background: $color3;
        border-radius: 3px;
    }

    #sync_list_container{
        width: 100%;
        height: 100%;
        min-width: 0; 
        min-height: 0;
    }

    .sync_list{
        display: grid;
        grid-auto-rows: min-content;
        min-width: 0; 
        min-height: 0;
        overflow-y: scroll;
        overflow-x: auto;
        width: 100%;
        height: 100%;
    }


    .sync{
        margin: 0 1vw;
        margin-top: 1vh;
        border-radius: 7px;
        padding: 0.6vh 1vw;
        align-items: center;
        justify-items: center;
        font-size: 15px;
        font-weight: 400;
        color: $font_color2;
        cursor: pointer;
        transition: all $trans_time ease 0s;
        &:hover{
            background-color: $color3;
            .local{ color: $accent_color1; }
            .remote:only-child{ color: $accent_color1; }
        }
    }

    .sync.active{
        background-color: $color3;
        .local{ color: $accent_color1; }
    }


    .remote_dirs{
        grid-column: 2/4;
        display: grid;
        width: 100%;
        align-items: center;
    }
    
    .remote{
        display: grid;
        justify-items: center;
        grid-template-columns: calc(1em + 2vw) 1fr;
        padding: 0.6vh 0;
        i{
            grid-column: 1;
            // color:$accent_color3;
        }
        span{grid-column: 2;}
        transition: all $trans_time ease 0s;
        &:hover{ color:$accent_color1; }
    }

    .remote.active{ color: $accent_color1; }
}












// ##################
//      SYNC INFO
// ##################

#Syncs .sync_info{
    display: grid;
    grid-template-rows: calc(1.5em + 2vh) calc(49vh - 2 * 10px - 1.5em - 2vh); //height of div(49vh) - padding - header height
    
    
    .header{
        display: grid;
        grid-template-columns: repeat(4, max-content  ) 1fr repeat(3, max-content);
        align-items: center;
        justify-items: center;
        border-bottom: 3px solid $color3;
        font-weight: 500;

        >span{
            font-size: 16px;
            padding: 0 2px;
            margin: 0 1vw;
            color: $font_color2;
            transition: all $trans_time ease 0s;
            padding-bottom: 3px;
            cursor: pointer;
            &:hover{
                color: $accent_color1;
                border-bottom: 2px solid $accent_color4;
            }
        }

        >span.active{
            color: $accent_color1;
            border-bottom: 2px solid $accent_color4;
        }

        button{
            padding: 0 1vw;
            font-size: 17px;
            font-weight: 500;
            background-color: $secondary_color;
            color: $font_color2;
            i{transition: all $trans_time ease 0s;}
            &:hover{
                i{color: $font_color1;}
            }
        }

        #sync_btn{
            color: $accent_color1;
            &:hover{color: $accent_color1;}
        }

        #delete_btn{
            color: $color_negative;
        }
    }




    #props_container{
        padding-top: 1vh;
        padding-left: 0.5vw;
        padding-right: 0.5vw;
        min-width: 0;
        min-height: 0;
        &>div{
            display: none;
            max-height: 100%;
        }

        &>div.active{
            display: grid;
        }

        ::-webkit-scrollbar-track{
            background: $secondary_color;
        }
    
        ::-webkit-scrollbar-thumb{
            background: $color3;
            border-radius: 3px;
        }
    }

    #info_container{
        grid-auto-rows: calc(1em + 2vh);
        align-items: center;
        font-size: 16px;
        font-weight: 400;
        grid-template-columns: max-content 1fr;
        .key{
            grid-column: 1;
            color: $font_color2;
            padding-right: 3vw;
        }     
        .value{
            grid-column: 2;
            .name{padding-right: 1vw;}
            .path{color: $font_color3;}
        }
    }

    #loc_ign_container, #sync_ign_container{
        overflow-y:scroll;
        display: grid;
        grid-auto-rows: calc(1.5em + 1vh);
        padding-left: 1.6vw;
        min-width: 0;
        min-height: 0;
        span{
            display: inline-block;
            vertical-align: middle;
            font-size: 14px;
            font-weight: 500;
            &:before{ 
                content: "•";
                vertical-align: middle;
                font-size: 20px;
                color: $accent_color3;
                padding-right: 1vw;
            }
        }
    }
}




