// colors
$main_color:  #2B2E43;
$secondary_color: #2F3247;
$color3: #33364b;
$accent_color1: #00CD69;
$accent_color2: #224D4A;
$accent_color3: #03D19B;
$accent_color4: #0091FF;
$accent_color5: #FFBA00;
$color_negative: #FF5454;
$font-color1: #FFF;
$font-color2: #92949F;  
$font-color3: #676978;  //icons


/*--border-color: #313749;*/


$trans_time: 0.23s; 
$header_font_size: 22px;